project:
  type: website
  output-dir: docs

website:
  title: "mccarthykate"
  navbar:
    background: dark
    left:
      - href: index.qmd
        text: Home
      - href: Experience.qmd
      - href: Projects.qmd
      - href: Gallery.qmd

format:
  html:
    theme: united
    css: styles.css
    toc: true

editor: visual

